<!-- hero area -->
<div id="branding">
    <a id="microsoftLink" class="text--md" href="https://www.microsoft.com"><img class="img-responsive" src="@Href("~/Themes/CognitiveServices/Content/Images/microsoftLogo.png")" alt="@WorkContext.CurrentSite.SiteName" /></a>
    <a class="text--md" id="cognitiveservicelogo" href="@Href("~/").TrimEnd('/')">@T("Cognitive Services")</a>
</div>
