@*doing excerpt generation on the way out for now so we don't stick ourselves with needing to regen excerpts for existing data
  also, doing this here, inline, until we have a pluggable processing model (both in and out)
  also, ...this is ugly *@
@{ 
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    string bodyHtml = Model.Html.ToString();
    var body = new HtmlString(Html.Excerpt(bodyHtml, 400).ToString()); 
}
<p>
	<span class="blog-post-ellipsis">@body</span>
	<span class="blog-more">@Html.ItemDisplayLink(T("Read more > ").ToString(), contentItem)</span>
</p>